<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>jQuery UI Buttons functionality</title>
      <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script>
         $(function() {
            $( "#button-5" ).buttonset();
         });
      </script>
   </head>
   <body>

      <br><br>
      <div id="button-5">
         <input type="radio" id="check1" name="button-5">
         <label for="check1">Left</label>
         <input type="radio" id="check2" name="button-5">
         <label for="check2">Middle</label>
         <input type="radio" id="check3" name="button-5">
         <label for="check3">Right</label>
      </div>
</body>
</html>